<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>393684858421-s34st3nn7559d0cjpkeorsgb40vq0o58.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.393684858421-s34st3nn7559d0cjpkeorsgb40vq0o58</string>
	<key>API_KEY</key>
	<string>AIzaSyC5p_0rV89qbaWLOPVnlTE0uzvRRVTB5M0</string>
	<key>GCM_SENDER_ID</key>
	<string>393684858421</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginAnimated</string>
	<key>PROJECT_ID</key>
	<string>login-animated-e0562</string>
	<key>STORAGE_BUCKET</key>
	<string>login-animated-e0562.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393684858421:ios:dd8eab5f0c2833e917a37c</string>
</dict>
</plist>